.about {
    width: 1200px;
    margin: 0 auto;
    background: #3c3c3c;
    color: #fff;
    padding: 20px 0;
}
span {
    font-weight: bold;
}
.footer {
    background: #444444;
    width: 1200px;
    margin: 0 auto;
}
.accounting {
    width: 400px;
    margin: 0 auto;
    padding: 25px;
    color: #fff;
}