.homepage {
    width: 1200px;
    height: 50px;
    background: #aa060a;
    margin: 0 auto;
    text-align: right;
    font-weight: bold;
}
a:first-child {
    float: left;
    font-family: 'Indie Flower', cursive;
}
a {
    margin: 0 25px;
    text-transform: uppercase;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
}
.attention {
    font-size: 25px;
}
.home {
    width: 1200px;
    margin: 0 auto;
    background-image: url('../../accests/notnik.jpg');
}
.page {
    width: 600px;
    margin: 0 0 0 40px;
    color: #fff;
    padding: 50px;
}