.contacts {
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    background: #444444;
    color: #ffffff;
}
strong {
    padding: 10px;
    display: block;
}
p {
    margin: 0;
    padding: 0 10px;
}
.aboutus {
    float: left;
    width: 500px;
    margin-left: 50px;
}
.contact {
    float: right;
    margin-right: 50px;
    width: 500px;
}