.price {
    width: 1200px;
    margin: 0 auto;
}
.discounts {
    background-image: url('../../accests/money.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 25px;
}
.section {
    width: 600px;
    float: right;
    margin-top: 50px;
}
p {
    font-size: 15px;
    padding: 10px;
}
.discount {
    width: 600px;
    margin: 50px auto;
    text-align: left;
}
